.login {
  width: 100vw;
  height: 100vh;
  background: linear-gradient(251.51deg, #194547 12.74%, #15202b 98.57%);
  display: flex;
  align-items: center;
  justify-content: center;
}

.loginWrapper {
  width: 70%;
  height: 70%;
  display: flex;
  flex-direction: column;
}

.loginLeft,
.loginRight {
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.containerLoginText {
  display: flex;
  align-items: center;
  justify-content: center;
}

.loginLogo {
  font-size: 80px;
  font-weight: 800;
  color: #ffffff;
  margin-bottom: 10px;
}

.loginLogo2 {
  font-size: 80px;
  font-weight: 800;
  color: #4fd8e0;
  margin-bottom: 10px;
}

.loginBox {
  height: 313px;
  padding: 46px;
  background: rgba(42, 163, 239, 0.04);
  border-radius: 30px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.loginInput {
  height: 50px;
  border-radius: 10px;
  border: 1px solid gray;
  font-size: 18px;
  color: #000000;
  padding-left: 20px;
}

.loginInput:focus {
  outline: none;
}

.loginButton {
  height: 50px;
  border-radius: 10px;
  border: none;
  background-color: #1775ee;
  color: white;
  font-size: 20px;
  font-weight: 500;
  cursor: pointer;
}

.loginButton:focus {
  outline: none;
}

.loginButton:disabled {
  cursor: not-allowed;
}

.loginForgot {
  text-align: center;
  color: #ffffff;
}

.loginRegisterButton {
  width: 100% !important;
  align-self: center;
  height: 50px;
  border-radius: 10px;
  border: none;
  background-color: #42b72a;
  color: white;
  font-size: 20px;
  font-weight: 500;
  cursor: pointer;
}
