/*.topbarContainer {
  height: 50px;
  width: 100%;
  background-color: #1877f2;
  display: flex;
  align-items: center;
  position: sticky;
  top: 0;
  z-index: 999;
}

.topbarLeft {
  flex: 3;
}

.logo {
  font-size: 24px;
  margin-left: 20px;
  font-weight: bold;
  color: white;
  cursor: pointer;
}

.topbarCenter {
  flex: 5;
}

.searchbar {
  width: 100%;
  height: 30px;
  background-color: white;
  border-radius: 30px;
  display: flex;
  align-items: center;
}

.searchIcon {
  font-size: 20px !important;
  margin-left: 10px;
}

.searchInput {
  border: none;
  width: 70%;
}

.searchInput:focus {
  outline: none;
}

.topbarRight {
  flex: 4;
  display: flex;
  align-items: center;
  justify-content: space-around;
  color: white;
}

.topbarLink {
  margin-right: 10px;
  font-size: 14px;
  cursor: pointer;
}

.topbarIcons {
  display: flex;
}

.topbarIconItem {
  margin-right: 15px;
  cursor: pointer;
  position: relative;
}

.topbarIconBadge {
  width: 15px;
  height: 15px;
  background-color: red;
  border-radius: 50%;
  color: white;
  position: absolute;
  top: -5px;
  right: -5px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 12px;
}

.topbarImg {
  width: 32px;
  height: 32px;
  border-radius: 50%;
  object-fit: cover;
  cursor: pointer;
}*/

.navBar {
  max-width: 100%;
  display: flex;
  height: 54px;
  justify-content: space-between;
  padding: 30px;
  position: sticky;
  top: 0;
  z-index: 999;
  background: #1945471b 12.74%;
  background-repeat: no-repeat;
  backdrop-filter: blur(4px);
  -webkit-backdrop-filter: blur(4px);
}

.tituloPartes {
  display: flex;
}

.tituloPartes .UParte1 {
  color: #ffffff;
}

.tituloPartes .UParte2 {
  color: #4fd8e0;
}

.logoCompletado {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.user {
  gap: 0px 16px;
  display: flex;
  align-items: center;
  align-content: space-around;
  flex-direction: row;
}

.search {
  width: 560px;
  height: 51px;
  background: rgba(42, 163, 239, 0.04);
  border-radius: 30px;
  padding: 0 0 0 4em;
  border: none;
  color: white;
}

.search:hover {
  background: rgb(130 144 153 / 24%);
  color: white;
  border: none;
}

.search::placeholder {
  position: absolute;
  font-style: normal;
  font-weight: 700;
  font-size: 14px;
  line-height: 21px;
  color: #ffffff;
  font-family: "Font Awesome 5 Free";
  font-weight: 900;
  left: 27px;
  top: 18px;
}
.search:focus {
  background: rgb(130 144 153 / 24%);
  color: white;
  border: none;
}

.searchContend {
  display: flex;
  align-items: center;
}

.iconoBuscar {
  position: absolute;
  left: 13em;
}

.usuarioText {
  font-style: normal;
  font-weight: 700;
  font-size: 14px;
  line-height: 21px;
  color: #f1f1f1;
}

.usuarioArroba {
  font-style: normal;
  font-weight: 400;
  font-size: 10px;
  line-height: 15px;
  color: #f1f1f1;
}

.user_img {
  border-radius: 50%;
  width: 100%;
  height: 100%;
}

.usarioTAContend {
  min-width: 8rem;
  max-width: 8rem;
  display: flex;
  flex-direction: column;
}

.showNotifications {
  display: flex;
}

.showNotifications i {
  margin-right: 0.5rem;
}

.switch {
  margin-right: 0.5rem;
}

.separador-topbar {
  height: 100%;
  margin: 0 1rem;
}

/* The switch - the box around the slider */
.switch {
  /* Variables */
  --switch_width: 2em;
  --switch_height: 1em;
  --thumb_color: #e8e8e8;
  --track_color: #e8e8e8;
  --track_active_color: #888;
  --outline_color: #000;
  font-size: 17px;
  position: relative;
  display: inline-block;
  width: var(--switch_width);
  height: var(--switch_height);
}

/* Hide default HTML checkbox */
.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

/* The slider */
.slider {
  box-sizing: border-box;
  border: 2px solid var(--outline_color);
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: var(--track_color);
  transition: 0.15s;
  border-radius: var(--switch_height);
}

.slider:before {
  box-sizing: border-box;
  position: absolute;
  content: "";
  height: var(--switch_height);
  width: var(--switch_height);
  border: 2px solid var(--outline_color);
  border-radius: 100%;
  left: -2px;
  bottom: -2px;
  background-color: var(--thumb_color);
  transform: translateY(-0.2em);
  box-shadow: 0 0.2em 0 var(--outline_color);
  transition: 0.15s;
}

input:checked + .slider {
  background-color: var(--track_active_color);
}

input:focus-visible + .slider {
  box-shadow: 0 0 0 2px var(--track_active_color);
}

/* Raise thumb when hovered */
input:hover + .slider:before {
  transform: translateY(-0.3em);
  box-shadow: 0 0.3em 0 var(--outline_color);
}

input:checked + .slider:before {
  transform: translateX(calc(var(--switch_width) - var(--switch_height)))
    translateY(-0.2em);
}

/* Raise thumb when hovered & checked */
input:hover:checked + .slider:before {
  transform: translateX(calc(var(--switch_width) - var(--switch_height)))
    translateY(-0.3em);
  box-shadow: 0 0.3em 0 var(--outline_color);
}
